    <label class="custom-checkbox">
        <input type="checkbox" />
    <i class="fa fa-fw fa fa-square-o fa-3x unchecked"></i>
    <i class="fa fa-fw fa fa-check-square fa-3x checked"></i>
        <span class="attraction-name">
            <%= attraction.name %> --
            height --
            fancy ride --
            [image to the right]
        </span>

    
    </div>
    </label>
    <hr>